<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TPJDB" connectionString="server=.;database=TPJ PROD;user id=sa;password=p@$$w0rd;" />
	  <!--<add name="TPJDB" connectionString="server=localhost\SQLEXPRESS;Database=TPJ;Trusted_Connection=True;" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImageSaveLocation" value="~/UploadedImages" />
    <add key="ImageFolder" value="\UploadedImages" />
    <add key="MemoSaveLocation" value="~/UploadedMemos" />
    <add key="MemoFolder" value="\UploadedMemos" />
    <add key="LegislationSaveLocation" value="~/UploadedLegislations" />
    <add key="LegislationFolder" value="\UploadedLegislations" />
    <add key="Port" value="587" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Subject" value="RE: As Stated" />

    <!-- CREW MOVEMENT FORM -->
    <add key="CrewMovementForm.Template" value="~/Resources/Template/Crewmovementform.xlsx" />
    <add key="CrewMovementForm.TransactionNoCell" value="C4" />
    <add key="CrewMovementForm.CrewNameCell" value="C5" />
    <add key="CrewMovementForm.DateTimeCell" value="C6" />
    <add key="CrewMovementForm.PreviousDepartmentCell" value="C8" />
    <add key="CrewMovementForm.PreviousPositionCell" value="C9" />
    <add key="CrewMovementForm.PreviousVesselCell" value="C10" />
    <add key="CrewMovementForm.PreviousSNPositionCell" value="C12" />
    <add key="CrewMovementForm.PreviousSNVesselCell" value="C13" />
    <add key="CrewMovementForm.CurrentDepartmentCell" value="G8" />
    <add key="CrewMovementForm.CurrentPositionCell" value="G9" />
    <add key="CrewMovementForm.CurrentVesselCell" value="G10" />
    <add key="CrewMovementForm.CurrentSNPositionCell" value="G12" />
    <add key="CrewMovementForm.CurrentSNVesselCell" value="G13" />
    <add key="CrewMovementForm.RemarksCell" value="C14" />
    <add key="CrewMovementForm.PreparedByCell" value="C18" />
    <add key="CrewMovementForm.CheckedByCell" value="G18" />
    <!-- END -->

    <!-- CREW LIST-->
    <add key="Crewlist.Template" value="~/Resources/Template/Crewlist.xlsx" />
    <add key="Crewlist.VesselCell" value="A2" />
    <add key="Crewlist.DateRangeCell" value="A3" />
    <add key="Crewlist.StartRow" value="6" />
    <add key="Crewlist.NumberColumn" value="0" />
    <add key="Crewlist.NameColumn" value="1" />
    <add key="Crewlist.PositionColumn" value="2" />
    <add key="Crewlist.OnBoardColumn" value="3" />
    <add key="Crewlist.FromPositionColumn" value="4" />
    <add key="Crewlist.FromVesselColumn" value="5" />
    <add key="Crewlist.FromDateColumn" value="6" />
    <add key="Crewlist.ToPositionColumn" value="7" />
    <add key="Crewlist.ToVesselColumn" value="8" />
    <add key="Crewlist.ToDateColumn" value="9" />
    <add key="Crewlist.DisembarkedColumn" value="10" />
    <add key="Crewlist.ReferenceColumn" value="11" />
    <!-- END -->

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>