<?xml version="1.0" encoding="utf-8"?>
<!--
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>

    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebTemplate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ScaffoldingContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=ScaffoldingContext-20141212125339; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ScaffoldingContext-20141212125339.mdf" providerName="System.Data.SqlClient" />
    <add name="WebDBEntities" connectionString="metadata=res://*/WebDBModel.csdl|res://*/WebDBModel.ssdl|res://*/WebDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.100.169;initial catalog=TPJ;user id=sa;password=p@55w0rdelgu;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TPJDB" connectionString="server=192.168.100.169;database=TPJ;user id=sa;password=p@55w0rdelgu;" />
    <!--<add name="TPJDB" connectionString="server=.;database=TPJ PROD LATEST;user id=sa;password=p@$$w0rd;" />-->

    
  </connectionStrings>
  <appSettings>

    <add key="SpreadSheetKey" value="FREE-LIMITED-KEY"/>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImageSaveLocation" value="~/Files/UploadedImages" />
    <add key="TimelogFileSaveLocation" value="~/Files/TimelogFiles" />
    <add key="LeaveSaveLocation" value="~/Files/UploadedLeaveFiles" />
    <add key="ImageFolder" value="\Files\UploadedImages" />
    <add key="MemoSaveLocation" value="~/Files/UploadedMemos" />
    <add key="MemoFolder" value="\Files\UploadedMemos" />
    <add key="LegislationSaveLocation" value="~/Files/UploadedLegislations" />
    <add key="LegislationFolder" value="\Files\UploadedLegislations" />
    <add key="Port" value="587" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Subject" value="RE: As Stated" />

    <!-- PAYSLIP -->
    <add key="Payslip.Template" value="~/Resources/Template/Payslip.xlsx" />
    <add key="Payslip.ColumnMaxLength" value="6" />

    <add key="Payslip.EmployeeNameCell" value="B3" />
    <add key="Payslip.TINNoCell" value="A4" />
    <add key="Payslip.HDMFNoCell" value="C4" />
    <add key="Payslip.SSSNoCell" value="D4" />
    <add key="Payslip.EmployeeNumberCell" value="E3" />
    <add key="Payslip.PayrollPeriodColumn" value="1" />

    <add key="Payslip.DepartmentColumn" value="2" />
    <add key="Payslip.PositionColumn" value="3" />
    <add key="Payslip.DaysColumn" value="4" />
    <add key="Payslip.RateColumn" value="5" />
    <add key="Payslip.AmountColumn" value="6" />
    <add key="Payslip.BasicTotalDaysCell" value="D12" />
    <add key="Payslip.BasicSalaryCell" value="F12" />

    <add key="Payslip.OTStartRow" value="13" />
    <add key="Payslip.OTDescColumn" value="2" />
    <add key="Payslip.OTHoursColumn" value="3" />
    <add key="Payslip.OTRateColumn" value="4" />
    <add key="Payslip.OTPayColumn" value="5" />
    <add key="Payslip.OTMaxRow" value="4" />
    <add key="Payslip.TotalOTPayCell" value="F18" />
    <add key="Payslip.GrossSalaryCell" value="F20" />

    <add key="Payslip.AddStartRow" value="21" />
    <add key="Payslip.AddPayDescColumn" value="2" />
    <add key="Payslip.AddNoofDaysColumn" value="3" />
    <add key="Payslip.AddRateColumn" value="4" />
    <add key="Payslip.AddPayColumn" value="5" />
    <add key="Payslip.AddTotalPayCell" value="F26" />


    <add key="Payslip.AllStartRow" value="33" />
    <add key="Payslip.AllDescColumn" value="2" />
    <add key="Payslip.AllHoursColumn" value="3" />
    <add key="Payslip.AllRateColumn" value="4" />
    <add key="Payslip.AllPayColumn" value="5" />
    <add key="Payslip.AllMaxRow" value="4" />

    <add key="Payslip.TotalAllOTPayCell" value="F38" />

    <add key="Payslip.SSSCell" value="B41" />
    <add key="Payslip.ProvidentFundCell" value="B42" />
    <add key="Payslip.PhilHealthCell" value="B43" />
    <add key="Payslip.SalaryLoanCell" value="B44" />
    <add key="Payslip.PagibigLoanCell" value="B45" />
    <add key="Payslip.PagibigCell" value="E41" />
    <add key="Payslip.LoanStartRow" value="45" />
    <add key="Payslip.TaxCell" value="E42" />
    <add key="Payslip.OtherChargesCell" value="E43" />
    <add key="Payslip.ValeCell" value="E44" />

    <add key="Payslip.TotalDedCell" value="F46" />

    <add key="Payslip.NetCell" value="F47" />

    <add key="Payslip.BasicTotalDaysCell" value="D12" />
    <add key="Payslip.BasicSalaryCell" value="F12" />

    <add key="Payslip.AllowanceTotalDaysCell" value="D32" />
    <add key="Payslip.AllowanceSalaryCell" value="F32" />

    <add key="Payslip.AllowanceStartRow" value="28" />
    <add key="Payslip.AllowanceMaxRow" value="4" />

    <add key="Payslip.PayrollPeriodColumn" value="0" />
    <add key="Payslip.DepartmentColumn" value="1" />
    <add key="Payslip.PositionColumn" value="2" />
    <add key="Payslip.DaysColumn" value="3" />
    <add key="Payslip.RateColumn" value="4" />
    <add key="Payslip.AmountColumn" value="5" />

    <add key="Payslip.BasicStartRow" value="6" />
    <add key="Payslip.BasicMaxRow" value="5" />
    <add key="Payslip.SignatoryCell" value="E50" />
    <!-- END -->

    <!-- PAYROLL SHEET A -->
    <add key="PayrollSheetA.Template" value="~/Resources/Template/PayrollSheetA.xlsx" />
    <add key="PayrollSheetA.EndPageRow" value="40" />
    <add key="PayrollSheetA.MaxItem" value="1000" />
    <add key="PayrollSheetA.ColumnMaxLength" value="13" />
    <add key="PayrollSheetA.ColumnMiddle" value="11" />
    <add key="PayrollSheetA.ColumnNo" value="0" />
    <add key="PayrollSheetA.ColumnEmployeeName" value="1" />
    <add key="PayrollSheetA.ColumnDesignation" value="2" />
    <add key="PayrollSheetA.ColumnNoOfDays" value="3" />
    <add key="PayrollSheetA.ColumnRate" value="4" />
    <add key="PayrollSheetA.ColumnSalary" value="5" />
    <add key="PayrollSheetA.ColumnOT" value="6" />
    <add key="PayrollSheetA.ColumnPagibigFund" value="7" />
    <add key="PayrollSheetA.ColumnPagibigLoan" value="8" />
    <add key="PayrollSheetA.ColumnSSS" value="9" />
    <add key="PayrollSheetA.ColumnProvidentFund" value="10" />
    <add key="PayrollSheetA.ColumnSSSLoan" value="11" />
    <add key="PayrollSheetA.ColumnWithholdingTax" value="12" />
    <add key="PayrollSheetA.ColumnPhilHealth" value="13" />
    <add key="PayrollSheetA.ColumnNetAmount" value="14" />
    <add key="PayrollSheetA.ColumnPreparedByStart" value="1" />
    <add key="PayrollSheetA.ColumnPreparedByEnd" value="4" />
    <add key="PayrollSheetA.ColumnCheckedByStart" value="6" />
    <add key="PayrollSheetA.ColumnCheckedByEnd" value="10" />
    <add key="PayrollSheetA.ColumnApprovedByStart" value="12" />
    <add key="PayrollSheetA.ColumnApprovedByEnd" value="13" />
    <!-- END -->

    <!-- PAYROLL SHEET B -->
    <add key="PayrollSheetB.Template" value="~/Resources/Template/PayrollSheetB.xlsx" />
    <add key="PayrollSheetB.EndPageRow" value="40" />
    <add key="PayrollSheetB.MaxItem" value="1000" />
    <add key="PayrollSheetB.ColumnMaxLength" value="16" />
    <add key="PayrollSheetB.ColumnMiddle" value="15" />
    <add key="PayrollSheetB.ColumnNo" value="0" />
    <add key="PayrollSheetB.ColumnEmployeeName" value="1" />
    <add key="PayrollSheetB.ColumnDesignation" value="2" />
    <add key="PayrollSheetB.ColumnNoOfDays" value="3" />
    <add key="PayrollSheetB.ColumnRate" value="4" />
    <add key="PayrollSheetB.ColumnSalary" value="5" />
    <add key="PayrollSheetB.ColumnAllowance" value="6" />
    <add key="PayrollSheetB.ColumnOT" value="7" />
    <add key="PayrollSheetB.ColumnAdditionalPay" value="8" />
    <add key="PayrollSheetB.ColumnPagibigFund" value="9" />
    <add key="PayrollSheetB.ColumnPagibigLoan" value="10" />
    <add key="PayrollSheetB.ColumnSSS" value="11" />
    <add key="PayrollSheetB.ColumnProvidentFund" value="12" />
    <add key="PayrollSheetB.ColumnSSSLoan" value="13" />
    <add key="PayrollSheetB.ColumnWithholdingTax" value="14" />
    <add key="PayrollSheetB.ColumnPhilHealth" value="15" />
    <add key="PayrollSheetB.ColumnVale" value="16" />
    <add key="PayrollSheetB.ColumnOutstandingVale" value="17" />
    <add key="PayrollSheetB.ColumnNetAmount" value="18" />
    <add key="PayrollSheetB.ColumnPreparedByStart" value="1" />
    <add key="PayrollSheetB.ColumnPreparedByEnd" value="4" />
    <add key="PayrollSheetB.ColumnCheckedByStart" value="6" />
    <add key="PayrollSheetB.ColumnCheckedByEnd" value="10" />
    <add key="PayrollSheetB.ColumnApprovedByStart" value="14" />
    <add key="PayrollSheetB.ColumnApprovedByEnd" value="15" />
    <add key="PayrollSheetB.SignatoryCell" value="E50" />
    <!-- END -->

    <!-- CEW PAYROLL SHEET B -->
    <add key="CrewPayrollSheetB.Template" value="~/Resources/Template/CrewPayrollSheetB.xlsx" />
    <add key="CrewPayrollSheetB.EndPageRow" value="40" />
    <add key="CrewPayrollSheetB.MaxItem" value="1000" />
    <add key="CrewPayrollSheetB.ColumnNo" value="0" />
    <add key="CrewPayrollSheetB.ColumnEmployeeName" value="1" />
    <add key="CrewPayrollSheetB.ColumnPosition" value="2" />
    <add key="CrewPayrollSheetB.ColumnNoOfDays" value="3" />
    <add key="CrewPayrollSheetB.ColumnRate" value="4" />
    <add key="CrewPayrollSheetB.ColumnSalary" value="5" />
    <add key="CrewPayrollSheetB.ColumnPagibigFund" value="6" />
    <add key="CrewPayrollSheetB.ColumnPagibigLoan" value="7" />
    <add key="CrewPayrollSheetB.ColumnSSS" value="8" />
    <add key="CrewPayrollSheetB.ColumnProvidentFund" value="9" />
    <add key="CrewPayrollSheetB.ColumnSSSLoan" value="10" />
    <add key="CrewPayrollSheetB.ColumnWithholdingTax" value="11" />
    <add key="CrewPayrollSheetB.ColumnPhilHealth" value="12" />
    <add key="CrewPayrollSheetB.ColumnVale" value="13" />
    <add key="CrewPayrollSheetB.ColumnNetAmount" value="14" />
    <add key="CrewPayrollSheetB.ColumnPreparedByStart" value="1" />
    <add key="CrewPayrollSheetB.ColumnPreparedByEnd" value="4" />
    <add key="CrewPayrollSheetB.ColumnCheckedByStart" value="6" />
    <add key="CrewPayrollSheetB.ColumnCheckedByEnd" value="10" />
    <add key="CrewPayrollSheetB.ColumnApprovedByStart" value="14" />
    <add key="CrewPayrollSheetB.ColumnApprovedByEnd" value="15" />
    <add key="CrewPayrollSheetB.SignatoryCell" value="E50" />
    <!-- END -->


    <!-- CREW PAYSLIP -->
    <add key="CrewPayslip.Template" value="~/Resources/Template/CrewPayslip.xlsx" />

    <add key="CrewPayslip.EmployeeNameCell" value="D4" />
    <add key="CrewPayslip.TINNoCell" value="D7" />
    <add key="CrewPayslip.HDMFNoCell" value="I7" />
    <add key="CrewPayslip.SSSNoCell" value="L7" />
    
    <add key="CrewPayslip.BasicTotalDaysCell" value="L18" />
    <add key="CrewPayslip.BasicSalaryCell" value="N18" />

    <add key="CrewPayslip.PayrollPeriodColumn" value="1" />
    <add key="CrewPayslip.VesselColumn" value="2" />
    <add key="CrewPayslip.PositionColumn" value="7" />
    <add key="CrewPayslip.DaysColumn" value="10" />
    <add key="CrewPayslip.RateColumn" value="12" />
    <add key="CrewPayslip.AmountColumn" value="13" />
    <add key="CrewPayslip.BasicStartRow" value="11" />
    <add key="CrewPayslip.BasicMaxRow" value="5" />

    <add key="CrewPayslip.OTStartRow" value="23" />
    <add key="CrewPayslip.OTDescColumn" value="9" />
    <add key="CrewPayslip.OTHoursColumn" value="10" />
    <add key="CrewPayslip.OTRateColumn" value="12" />
    <add key="CrewPayslip.OTPayColumn" value="13" />
    <add key="CrewPayslip.OTMaxRow" value="4" />
    <add key="CrewPayslip.TotalOTPayCell" value="N29" />

    <add key="CrewPayslip.PagibigCell" value="G34" />
    <add key="CrewPayslip.PagibigLoanCell" value="G35" />
    <add key="CrewPayslip.SSSCell" value="G36" />
    <add key="CrewPayslip.ProvidentFundCell" value="G37" />
    <add key="CrewPayslip.SSSLoanCell" value="L34" />
    <add key="CrewPayslip.TaxCell" value="L35" />
    <add key="CrewPayslip.PhilHealthCell" value="L36" />
    <add key="CrewPayslip.ValeCell" value="L37" />

    <add key="CrewPayslip.TotalDedCell" value="N39" />

    <add key="CrewPayslip.NetCell" value="N40" />

    <add key="CrewPayslip.SignatoryCell" value="L46" />
    <!-- END -->

    <!-- CREW MOVEMENT FORM -->
    <add key="CrewMovementForm.Template" value="~/Resources/Template/Crewmovementform.xlsx" />
    <add key="CrewMovementForm.TransactionNoCell" value="C4" />
    <add key="CrewMovementForm.CrewNameCell" value="C5" />
    <add key="CrewMovementForm.DateTimeCell" value="C6" />
    <add key="CrewMovementForm.PreviousDepartmentCell" value="C8" />
    <add key="CrewMovementForm.PreviousPositionCell" value="C9" />
    <add key="CrewMovementForm.PreviousVesselCell" value="C10" />
    <add key="CrewMovementForm.PreviousSNPositionCell" value="C12" />
    <add key="CrewMovementForm.PreviousSNVesselCell" value="C13" />
    <add key="CrewMovementForm.CurrentDepartmentCell" value="G8" />
    <add key="CrewMovementForm.CurrentPositionCell" value="G9" />
    <add key="CrewMovementForm.CurrentVesselCell" value="G10" />
    <add key="CrewMovementForm.CurrentSNPositionCell" value="G12" />
    <add key="CrewMovementForm.CurrentSNVesselCell" value="G13" />
    <add key="CrewMovementForm.RemarksCell" value="C14" />
    <add key="CrewMovementForm.PreparedByCell" value="C18" />
    <add key="CrewMovementForm.CheckedByCell" value="G18" />
    <!-- END -->

    <!-- CREW LIST-->
    <add key="Crewlist.Template" value="~/Resources/Template/Crewlist.xlsx" />
    <add key="Crewlist.VesselCell" value="A2" />
    <add key="Crewlist.DateRangeCell" value="A3" />
    <add key="Crewlist.StartRow" value="6" />
    <add key="Crewlist.NumberColumn" value="0" />
    <add key="Crewlist.NameColumn" value="1" />
    <add key="Crewlist.PositionColumn" value="2" />
    <add key="Crewlist.OnBoardColumn" value="3" />
    <add key="Crewlist.FromPositionColumn" value="4" />
    <add key="Crewlist.FromVesselColumn" value="5" />
    <add key="Crewlist.FromDateColumn" value="6" />
    <add key="Crewlist.ToPositionColumn" value="7" />
    <add key="Crewlist.ToVesselColumn" value="8" />
    <add key="Crewlist.ToDateColumn" value="9" />
    <add key="Crewlist.DisembarkedColumn" value="10" />
    <add key="Crewlist.ReferenceColumn" value="11" />
    <!-- END -->

    <!-- CREW LIST-->
    <add key="Report.Template" value="~/Resources/Template/Report.xlsx" />
    <add key="Report.TitleCell" value="A4" />
    <add key="Report.MonthYearCell" value="A5" />
    <add key="Report.AmountCell" value="B6" />
    <add key="Report.PSCell" value="B6" />
    <add key="Report.ESCell" value="C6" />
    <add key="Report.ECCell" value="D6" />
    <add key="Report.SumCell" value="E6" />
    <add key="Report.StartRow" value="6" />
    <add key="Report.NameColumn" value="0" />
    <add key="Report.AmountColumn" value="1" />
    <add key="Report.PSColumn" value="1" />
    <add key="Report.ESColumn" value="2" />
    <add key="Report.ECColumn" value="3" />
    <add key="Report.SumColumn" value="4" />
    <!-- END -->

    <!-- TIME SHEET-->
    <add key="TimeSheet.Template" value="~/Resources/Template/Timesheet.xlsx" />
    <add key="TimeSheet.CutoffCell" value="A4" />
    <add key="TimeSheet.NameCell" value="A6" />
    <add key="TimeSheet.ScheduleCell" value="A8" />
    <add key="TimeSheet.TotalNumberOfDaysCell" value="H10" />
    <add key="TimeSheet.TotalRegulatOTCell" value="I10" />
    <add key="TimeSheet.TotalSundayOTCell" value="J10" />
    <add key="TimeSheet.TotalHolidayCell" value="K10" />
    <add key="TimeSheet.TotalHolidayExcessCell" value="L10" />
    <add key="TimeSheet.TotalHazardCell" value="M10" />
    <add key="TimeSheet.HazardTitleCell" value="M9" />
    <add key="TimeSheet.StartRow" value="13" />
    <add key="TimeSheet.DateColumn" value="1" />
    <add key="TimeSheet.AssignedColumn" value="2" />
    <add key="TimeSheet.AMInColumn" value="3" />
    <add key="TimeSheet.OutInColumn" value="4" />
    <add key="TimeSheet.PMOutColumn" value="6" />
    <add key="TimeSheet.NoofDaysColumn" value="7" />
    <add key="TimeSheet.RegularOTColumn" value="8" />
    <add key="TimeSheet.SundayOTColumn" value="9" />
    <add key="TimeSheet.HolidayColumn" value="10" />
    <add key="TimeSheet.HolidayExcessColumn" value="11" />
    <add key="TimeSheet.HazardColumn" value="12" />
    <!-- END -->

    <!-- MEDICARD-->
    <add key="Medicard.Template" value="~/Resources/Template/Medicard.xlsx" />
    <add key="Medicard.NameCell" value="H3" />
    <add key="Medicard.DepartmentCell" value="F4" />
    <add key="Medicard.DateCell" value="V3" />
    <add key="Medicard.PositionCell" value="W4" />
    <add key="Medicard.HospitalCell" value="G6" />
    <add key="Medicard.LocationCell" value="U6" />
    <add key="Medicard.IsAbsentCell" value="C9" />
    <add key="Medicard.IsHalfdayCell" value="L9" />
    <add key="Medicard.AbsentDateCell" value="F11" />
    <add key="Medicard.AbsentPeriodCell" value="C12" />
    <add key="Medicard.AbsentNoofDaysCell" value="C15" />
    <add key="Medicard.HalfdayDateCell" value="N11" />
    <add key="Medicard.HalfdayMorningCell" value="L13" />
    <add key="Medicard.HalfdayAfternoonCell" value="L16" />
    <add key="Medicard.ReasonsCell" value="D19" />
    <add key="Medicard.Reasons2Cell" value="D20" />
    <add key="Medicard.ApprovedByCell" value="K24" />
    <add key="Medicard.NotedByCell" value="X24" />
    <!-- END -->

    <!-- ABSENCE-->
    <add key="Absence.Template" value="~/Resources/Template/Absence.xlsx" />
    <add key="Absence.NameCell" value="H3" />
    <add key="Absence.DepartmentCell" value="F4" />
    <add key="Absence.DateCell" value="V3" />
    <add key="Absence.PositionCell" value="W4" />
    <add key="Absence.IsAbsentCell" value="C8" />
    <add key="Absence.IsHalfdayCell" value="L8" />
    <add key="Absence.IsUndertimeCell" value="U8" />
    <add key="Absence.AbsentDateCell" value="F10" />
    <add key="Absence.AbsentNoofDaysCell" value="G11" />
    <add key="Absence.HalfdayDateCell" value="N10" />
    <add key="Absence.HalfdayMorningCell" value="L12" />
    <add key="Absence.HalfdayAfternoonCell" value="L15" />
    <add key="Absence.UndertimeDateCell" value="W10" />
    <add key="Absence.UndertimeTimeCell" value="W11" />
    <add key="Absence.ReasonsCell" value="D18" />
    <add key="Absence.Reasons2Cell" value="D19" />
    <add key="Absence.ApprovedByCell" value="K23" />
    <add key="Absence.NotedByCell" value="X23" />
    <!-- END -->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576" maxQueryStringLength="32768" maxUrlLength="65536" enable="true" executionTimeout="60" />
    <authentication mode="Forms">
      <forms loginUrl="~/Security/Login" timeout="2880" />
    </authentication>
    <sessionState timeout="60"></sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32768" maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <WebTemplate.Properties.Settings>
      <setting name="GridCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MaxPassLength" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="WebPrefix" serializeAs="String">
        <value />
      </setting>
      <setting name="PH_MOBILE_PREFIX" serializeAs="String">
        <value>+63</value>
      </setting>
      <setting name="MobileVerification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DEFAULT_ROLES" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="VERIFICATIONCODE_EXPIRATION_MINUTES" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>Human Resource</value>
      </setting>
      <setting name="ImageSaveLocation" serializeAs="String">
        <value>~/Images</value>
      </setting>
      <setting name="ImageFolder" serializeAs="String">
        <value>\\Images</value>
      </setting>
      <setting name="MemoSaveLocation" serializeAs="String">
        <value>~/Memos</value>
      </setting>
      <setting name="MemoFolder" serializeAs="String">
        <value>\\Memos</value>
      </setting>
      <setting name="LegislationSaveLocation" serializeAs="String">
        <value>~/Legislations</value>
      </setting>
      <setting name="LegislationFolder" serializeAs="String">
        <value>\\Legislations</value>
      </setting>
      <setting name="isDevMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isOverrideExpired" serializeAs="String">
        <value>True</value>
      </setting>
    </WebTemplate.Properties.Settings>
  </applicationSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
