@model WebTemplate.Models.Personnel.PersonnelLoanDeductions

@using ProcessLayer.Helpers
@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var PayrollPageAccess = credential.GetPage("CnB/PayrollSheetA") ?? new DataAccessLayer.System.Page();

    //int days = DateTime.DaysInMonth(2019, Model.PayrollDetails[0].LoggedDate.Month);
}
<div class="table-responsive table-scroll" style="overflow-y: auto; margin: 0;">
    <div style="">
        <table id="LoanDeductionsTable" class="table table-hover table-mail">
            <thead>
                <tr>
                    <th style="text-align: center;">Period</th>
                    <th style="text-align: center;">Amount</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.LoanDeductions.Count() > 0)
                {
                    for (int i = 0; i < Model.LoanDeductions.Count(); i++)
                    {
                        <tr id="@Model.LoanDeductions[i].ID" class="Row-Display" style="cursor: pointer">
                            <td style="text-align: center;">
                                @Model.LoanDeductions[i].CutoffStart.ToString("MMMM dd, yyyy") - @Model.LoanDeductions[i].CutoffEnd.ToString("MMMM dd, yyyy")
                            </td>
                            <td style="text-align: center">@(Model.LoanDeductions[i].Amount.ToString("#,##0.00"))</td>
                        </tr>
                    }
                }
                else
                {
                    <tr id="No-Row-Display"><td style="text-align: center;" colspan="3"> No data found...</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>