@model WebTemplate.Models.Personnel.CompensationsAndDeductions
@{
    var credential = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages);
    var CompensationsPageAccess = credential.GetPage("Compensations") ?? new DataAccessLayer.System.Page();
    var DeductionsPageAccess = credential.GetPage("Deductions") ?? new DataAccessLayer.System.Page();
}
@if (CompensationsPageAccess.View)
{
    <div id="CompensationDiv" class="panel panel-primary" style="margin: 0px 0px 10px 0px;">
        <div class="panel-heading" style="padding: 5px 10px;">Compensations</div>
        <div class="panel-body" style="padding: 0px;">
            <div class="row" style="padding: 0px 13px 0px 14px;">
                <div id="form-Compensation">
                    @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelCompensations.cshtml")
                </div>
            </div>
        </div>
    </div>
}

@if (DeductionsPageAccess.View)
{
    <div id="DeductionDiv" class="panel panel-primary" style="margin: 0px 0px 10px 0px;">
        <div class="panel-heading" style="padding: 5px 10px;">Assumed Government Deductions</div>
        <div class="panel-body" style="padding: 0px;">
            <div class="row" style="padding: 0px 13px 0px 14px;">
                <div id="form-Deduction">
                    @Html.Partial("~/Views/HumanResource/Personnel/_PersonnelAssumedDeductions.cshtml")
                </div>
            </div>
        </div>
    </div>
}
