USE [TPJ PROD]
GO
/****** Object:  Table [System].[Pages]    Script Date: 09/01/21 6:47:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [System].[Pages](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PageName] [nvarchar](128) NULL,
	[URL] [nvarchar](512) NULL,
	[Module] [nvarchar](128) NULL,
	[Remarks] [nvarchar](max) NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[DateCreated] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[LastUpdateDate] [datetime2](7) NULL,
	[UserManualURL] [nvarchar](512) NULL,
	[accessibleByAll] [bit] NULL,
	[NavMenuId] [int] NULL,
	[PageOrder] [int] NULL,
	[Namespace] [nvarchar](200) NULL,
	[Controller] [nvarchar](200) NULL,
	[Action] [nvarchar](200) NULL,
	[Application] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [System].[Roles]    Script Date: 09/01/21 6:47:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [System].[Roles](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](128) NOT NULL,
	[RoleDescription] [nvarchar](2048) NULL,
	[DateCreated] [datetime2](7) NULL,
	[CreatedBy] [int] NULL,
	[Deleted] [bit] NULL,
	[UpdatedBy] [int] NULL,
	[LastUpdateDate] [datetime2](7) NULL,
	[RoleAdmin] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [System].[Pages] ON 

INSERT [System].[Pages] ([ID], [PageName], [URL], [Module], [Remarks], [Deleted], [CreatedBy], [DateCreated], [UpdatedBy], [LastUpdateDate], [UserManualURL], [accessibleByAll], [NavMenuId], [PageOrder], [Namespace], [Controller], [Action], [Application]) VALUES (1, N'User', N'Maintenance/Systems/User', N'User', NULL, 0, NULL, NULL, 1, CAST(N'2019-02-15T19:01:02.0284319' AS DateTime2), NULL, NULL, 2, NULL, N'WebTemplate.Controllers.Maintenance.Systems', N'User', N'Index', NULL)
INSERT [System].[Pages] ([ID], [PageName], [URL], [Module], [Remarks], [Deleted], [CreatedBy], [DateCreated], [UpdatedBy], [LastUpdateDate], [UserManualURL], [accessibleByAll], [NavMenuId], [PageOrder], [Namespace], [Controller], [Action], [Application]) VALUES (2, N'Page', N'Maintenance/Systems/Page', N'Page', NULL, 0, 1, NULL, 1, NULL, NULL, NULL, 2, NULL, N'WebTemplate.Controllers.Maintenance.Systems', N'Page', N'Index', NULL)
INSERT [System].[Pages] ([ID], [PageName], [URL], [Module], [Remarks], [Deleted], [CreatedBy], [DateCreated], [UpdatedBy], [LastUpdateDate], [UserManualURL], [accessibleByAll], [NavMenuId], [PageOrder], [Namespace], [Controller], [Action], [Application]) VALUES (3, N'Roles', N'Maintenance/Systems/Roles', N'Roles', NULL, 0, 1, NULL, 1, NULL, NULL, NULL, 2, NULL, N'WebTemplate.Controllers.Maintenance.Systems', N'Roles', N'Index', NULL)
GO
SET IDENTITY_INSERT [System].[Pages] OFF
GO
SET IDENTITY_INSERT [System].[Roles] ON 

INSERT [System].[Roles] ([ID], [RoleName], [RoleDescription], [DateCreated], [CreatedBy], [Deleted], [UpdatedBy], [LastUpdateDate], [RoleAdmin]) VALUES (1, N'Super Admin', N'SuperUser', NULL, NULL, 0, 1, NULL, NULL)
INSERT [System].[Roles] ([ID], [RoleName], [RoleDescription], [DateCreated], [CreatedBy], [Deleted], [UpdatedBy], [LastUpdateDate], [RoleAdmin]) VALUES (2, N'Basic User', N'Basic User', NULL, NULL, 0, 1, NULL, NULL)
INSERT [System].[Roles] ([ID], [RoleName], [RoleDescription], [DateCreated], [CreatedBy], [Deleted], [UpdatedBy], [LastUpdateDate], [RoleAdmin]) VALUES (3, N'HR View All', N'View All', CAST(N'2019-03-14T19:59:52.6395167' AS DateTime2), 1, 0, 1, CAST(N'2019-03-21T18:29:19.6772336' AS DateTime2), NULL)
SET IDENTITY_INSERT [System].[Roles] OFF
GO
ALTER TABLE [System].[Pages] ADD  CONSTRAINT [DF_Pages_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [System].[Roles] ADD  CONSTRAINT [DF_Roles_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [System].[Pages]  WITH CHECK ADD  CONSTRAINT [FK__Pages__NavMenuId] FOREIGN KEY([NavMenuId])
REFERENCES [System].[NavMenu] ([ID])
GO
ALTER TABLE [System].[Pages] CHECK CONSTRAINT [FK__Pages__NavMenuId]
GO
