################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccessLayer/bin/Debug
/DataAccessLayer/bin/Release
/.vs
/DataAccessLayer/bin/Release
/DataAccessLayer/obj
/DataLayer/bin
/DataLayer/obj
/DBUtilities/bin
/DBUtilities/obj
/HRTest/bin
/HRTest/obj
/packages
/ProcessLayer/bin
/ProcessLayer/obj
/ProcessLayer.UnitTest/obj
/ReportLayer/bin
/ReportLayer/obj
/SecurityLib/bin
/SecurityLib/obj
/UnitTestProject1/obj/Debug
/WebTemplate/bin
/WebTemplate/Files/TimelogFiles
/WebTemplate/Files/UploadedImages
/WebTemplate/Files/UploadedMemos
/WebTemplate/Memos
/WebTemplate/obj
/WebTemplate/Properties/PublishProfiles
/WebTemplate/UploadedImages
/WebTemplate/UploadedMemos
/WebTemplate/UploadImages
/WebTemplate/WebTemplate.csproj.user
