@model WebTemplate.Models.Groups.GroupMembers

@{
    var GroupPageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/Group");

    ViewBag.title = GroupPageAccess.PageName;
}
<div class="modal-header">
    <h5 class="modal-title" style="text-align: center;">@Model.PersonnelGroup.Description</h5>
    @*<input class="form-control text-transform-none" id="Description" name="Description" type="text" value="Developers" style="text-align: center; background-color: transparent; border: 0; padding: 0; font-size: 2em;">*@
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
<div class="modal-body" style="max-height: 750px; background-color: #fff; overflow: hidden;">
    <div class="" style="display:flex;">
        <div id="SearchTable" class="tablediv" style="width: 50%;">
            @if (GroupPageAccess.View) { 
                <div id="SearchPersonnelDiv" class="input-group m-b-sm" style="width: 100%;">
                    <input id="SearchPersonnelInput" class="form-control" placeholder="Search Personnel..." />
                    <span class="input-group-addon" id="SearchPersonnel" style="cursor: pointer;"><i class="fa fa-search"></i></span>
                </div>

            }
            <div id="SearchTableDiv">
                @Html.Partial("~/Views/HumanResource/Group/_SearchTable.cshtml")
            </div>
        </div>
        <div style="margin: 0px 10px;"></div>
        <div id="MemberTable" class="tablediv" style="width: 50%;">
            @if (GroupPageAccess.View)
            {
                <div id="SearchMemberDiv" class="input-group m-b-sm" style="width: 100%;">
                    <input class="form-control" id="SearchMemberInput" placeholder="Search Member..."/>
                    <span class="input-group-addon" id="SearchMember" style="cursor: pointer;"><i class="fa fa-search"></i></span>
                </div>
            }
            <div id="MemberTableDiv">
                @Html.Partial("~/Views/HumanResource/Group/_MemberSearchTable.cshtml")
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
}
