:root {
  --btn-color: #23c6c8; }

.content-container {
  display: flex;
  justify-content: space-between; }
  .content-container .file {
    margin-top: 1em; }
    .content-container .file .content-file {
      width: 25em;
      height: 25em; }
    .content-container .file .attached-file {
      text-decoration: none; }
  .content-container .content {
    box-shadow: 0em 0em .2em 0em #ccc;
    height: 55vh; }
  .content-container .single-data {
    margin: 0 auto; }
  .content-container .memo-info {
    width: 30%;
    padding: .4em;
    position: relative; }
    .content-container .memo-info .back-btn {
      position: absolute;
      bottom: .4em;
      left: .4em; }
    .content-container .memo-info .Acknowledged {
      position: absolute;
      bottom: .4em;
      right: .4em; }
    .content-container .memo-info .content-management-actions {
      position: absolute;
      bottom: .4em;
      right: .4em; }
  .content-container .memo-content {
    width: 70%;
    display: flex;
    flex-direction: column; }
    .content-container .memo-content .content-list {
      flex-grow: 1;
      overflow: auto; }
      .content-container .memo-content .content-list .personnel-status {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        margin: .5em;
        box-shadow: 0em 0em .2em 0.1em #ccc; }
        .content-container .memo-content .content-list .personnel-status .fa {
          font-size: 1.5em !important;
          margin-right: 1em; }
        .content-container .memo-content .content-list .personnel-status .acknowledged {
          color: green; }
        .content-container .memo-content .content-list .personnel-status .unacknowledge {
          color: gray; }
        .content-container .memo-content .content-list .personnel-status h3 {
          margin: 0;
          width: 100%; }
    .content-container .memo-content .action {
      padding: .5em;
      display: flex;
      align-items: center;
      box-shadow: 0em 0em .2em 0em #ccc; }
      .content-container .memo-content .action button {
        margin: 0; }
      .content-container .memo-content .action .form-group {
        flex-grow: 1;
        margin: 0 .5em -0.3em 0.5em; }

.personnel-send {
  box-shadow: 0em 0em .3em 0em #CCC;
  clear: both;
  padding: 1em;
  margin: 1em;
  background: #eee;
  border-radius: 0.5em;
  position: relative;
  float: left; }
  .personnel-send:before {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    background: #eee;
    transform: rotate(45deg);
    left: 0;
    margin-left: -0.5em; }
  .personnel-send .content-file {
    width: 30em;
    height: 30em; }
  .personnel-send .attached-file {
    text-decoration: none; }

.management-send {
  box-shadow: 0em 0em .3em 0em #CCC;
  clear: both;
  padding: 1em;
  margin: 1em;
  background: #eee;
  border-radius: 0.5em;
  position: relative;
  float: right; }
  .management-send:before {
    content: '';
    position: absolute;
    height: 1em;
    width: 1em;
    background: #eee;
    transform: rotate(45deg);
    right: 0;
    bottom: 1em;
    margin-right: -0.5em; }
  .management-send .content-file {
    width: 30em;
    height: 30em; }
  .management-send .attached-file {
    text-decoration: none; }

.memo-status {
  display: flex;
  flex-flow: column; }

.memo-action {
  border-top: 1px solid #ccc;
  margin-top: 1em;
  padding-top: 1em; }
  .memo-action .actions {
    display: flex;
    align-items: center; }
    .memo-action .actions .margin-left {
      margin-left: .5em; }
    .memo-action .actions .selection-btn {
      width: 10em !important;
      margin-right: 1em;
      background: unset;
      color: var(--btn-color); }
      .memo-action .actions .selection-btn:hover {
        color: white;
        background: var(--btn-color); }
    .memo-action .actions .selected {
      color: white;
      background: var(--btn-color); }

.hidden {
  display: none; }

.content-panel {
  display: flex;
  flex-direction: column; }
  .content-panel .panel-heading {
    padding: .5em; }
    .content-panel .panel-heading .close {
      font-weight: bold !important;
      font-size: 1.3em !important; }

.i-checks label:before {
  content: none; }

.memo-file:hover .file-actions {
  display: block; }

.file-actions {
  background: #eee;
  padding: 1em;
  border-radius: .3em;
  display: none; }

.show-file-actions {
  display: block !important; }

body {
  overflow: auto; }
