@model WebTemplate.Models.MemoArchive.Management

@{ var MemoArchivePageAccess = (Session["CredentialPages"] as DataAccessLayer.Security.CredentialPages).GetPage("HumanResource/MemoArchive"); }

@if (Model.PersonnelGroups.Any())
{
    <div class="searchresults">
        @for (int i = 0; i < Model.PersonnelGroups.Count(); i++)
        {
            <div class="result" style="padding: .8em 1em;">
                <input class="ID" type="hidden" name="personnelGroupId" value="@Model.PersonnelGroups[i].ID" />
                <input class="Name" type="hidden" name="Name" value="@Model.PersonnelGroups[i].Description" />
                <input class="Deleted" type="hidden" name="Deleted" value="0" />
                @(Model.PersonnelGroups[i].Description ?? "N/A")
            </div>
        }
    </div>
}