@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>401 Unauthorized</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

</head>

<body>
    <br /><br /><br /><br /><br /><br /><br />
    <div class="middle-box text-center animated fadeInDown">
        <h1>401</h1>
        <h3 class="font-bold">Unauthorized Access</h3>
        <p class="m-t-lg text-danger">@ViewBag.Message</p>
        <div class="m-t-lg">
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-outline btn-sm btn-w-m m-r-sm">Go to Home</a>
            <a href="@Url.Action("Logout", "Security")" class="btn btn-primary btn-outline btn-sm btn-w-m m-r-sm">Logout</a>
        </div>
    </div>
</body>

</html>


