@model WebTemplate.Models.Personnel.Index
@using ProcessLayer.Entities;

@functions{
    string getTab(int tabNo, List<PersonnelLicense> licenseList, bool isActive = false)
    {
        string element = $"<div id='license-tab-{tabNo}' class='tab-pane{(isActive ? " active" : "")}'><div class='panel-body' style='padding: 0px; '><table class='table table-stripped table-bordered' style='margin-bottom: 0px;'><tbody>";

        if (licenseList.Count() > 0)
        {
            var counter = 0;
            var prevExp = new DateTime();
            foreach (var item in licenseList)
            {
                var person = item._Personnel;
                String fullname = String.Format("{0}, {1} {2}", person.LastName, person.FirstName, person.MiddleName);
                String searchName = String.Format("{0}{1}{2}", person.FirstName, person.MiddleName, person.LastName);
                String expiration = $"<tr class='list-title' style='background-color: #ddd;'><td>{item.ExpirationDate.Value.ToString("MMMM dd")}</td></tr>";

                element += counter > 0 ? (prevExp.ToString() != item.ExpirationDate.ToString() ? expiration : "") : expiration;

                element += $"<tr title='{fullname}' onclick='";
                //element += "window.open(" + '"' + ""{Url.Action("Personnel", "Index", new { Filter = searchName })}', '_blank');";
                element += $"'><td style='text-align: left; padding: 5px; border: 1px solid #eee;'><a href='/HumanResource/Personnel/Index?Filter={searchName}' target='_blank'><div style='float: left; text-transform: uppercase;'>";
                element += $"<img src='{(String.IsNullOrEmpty(person.ImagePath) ? "\\Images\\default.jpg" : person.ImagePath)}' style='height: 35px; width: 35px; min-height: 35px; min-width: 35px; border: 3px solid #eaeaea; margin-right: 10px; border-radius: 50px;' />";
                element += $"</div><div style='white-space: nowrap; overflow: hidden; text-overflow: ellipsis;'><b>{fullname}</b><br />{(!String.IsNullOrEmpty(item.LicenseNo) ? item._LicenseType.Description + ": " + item.LicenseNo : "")}</div></a></td></tr>";

                prevExp = item.ExpirationDate.Value;
                counter++;
            }
        }
        else
        {
            element += "<tr><td style='text-align: center;'>No records...</td></tr>";
        }

        element += "</tbody></table></div></div>";
        return element;
    }
}
<div class="license-container">
    <div class="tabs-container">
        <ul class="nav nav-tabs">
            @*<li class=""><a data-toggle="tab" href="#license-tab-1">Recent</a></li>*@
            <li class=""><a data-toggle="tab" href="#license-tab-1">Expired</a></li>
            <li class="active"><a data-toggle="tab" href="#license-tab-2">Upcoming</a></li>
            <li class=""><a data-toggle="tab" href="#license-tab-3">Next Year</a></li>
        </ul>
        <div class="tab-content">
            @Html.Raw(getTab(1, Model.ExpiringLicensesRecent))
            @Html.Raw(getTab(2, Model.ExpiringLicensesToday, true))
            @Html.Raw(getTab(3, Model.ExpiringLicensesUpcoming))
        </div>
    </div>
</div>