USE [TPJ]
GO
/****** Object:  Table [System].[PageAccess]    Script Date: 6/13/2020 11:53:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [System].[PageAccess](
	[RoleID] [int] NOT NULL,
	[PageID] [int] NOT NULL,
	[EnableView] [bit] NULL,
	[EnableInsert] [bit] NULL,
	[EnableUpdate] [bit] NULL,
	[EnableDelete] [bit] NULL,
	[AllAccess] [bit] NULL,
	[Approvable] [bit] NULL,
	[RoleApprover] [int] NULL,
	[Deleted] [bit] NULL,
	[CreatedBy] [int] NULL,
	[DateCreated] [datetime2](7) NULL,
	[UpdatedBy] [int] NULL,
	[LastUpdateDate] [datetime2](7) NULL,
 CONSTRAINT [PK_sys_PageAccess] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [System].[PageAccess] ([RoleID], [PageID], [EnableView], [EnableInsert], [EnableUpdate], [EnableDelete], [AllAccess], [Approvable], [RoleApprover], [Deleted], [CreatedBy], [DateCreated], [UpdatedBy], [LastUpdateDate]) VALUES (1, 1, 1, 1, 1, 1, 1, 0, NULL, 0, 1, CAST(N'2019-02-06T16:55:31.6400000' AS DateTime2), 1, CAST(N'2019-02-07T11:29:50.0181103' AS DateTime2))
INSERT [System].[PageAccess] ([RoleID], [PageID], [EnableView], [EnableInsert], [EnableUpdate], [EnableDelete], [AllAccess], [Approvable], [RoleApprover], [Deleted], [CreatedBy], [DateCreated], [UpdatedBy], [LastUpdateDate]) VALUES (1, 2, 1, 1, 1, 1, 1, 0, NULL, 0, 1, CAST(N'2019-02-06T16:55:31.6400000' AS DateTime2), 1, CAST(N'2019-02-07T11:26:31.0374314' AS DateTime2))
INSERT [System].[PageAccess] ([RoleID], [PageID], [EnableView], [EnableInsert], [EnableUpdate], [EnableDelete], [AllAccess], [Approvable], [RoleApprover], [Deleted], [CreatedBy], [DateCreated], [UpdatedBy], [LastUpdateDate]) VALUES (1, 3, 1, 1, 1, 1, 1, 0, NULL, 0, 1, CAST(N'2019-02-06T16:55:31.6400000' AS DateTime2), 1, CAST(N'2019-02-07T11:26:31.0392901' AS DateTime2))
GO
ALTER TABLE [System].[PageAccess] ADD  CONSTRAINT [DF_PageAccess_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [System].[PageAccess]  WITH CHECK ADD  CONSTRAINT [FK__PageAccess__Pages] FOREIGN KEY([PageID])
REFERENCES [System].[Pages] ([ID])
GO
ALTER TABLE [System].[PageAccess] CHECK CONSTRAINT [FK__PageAccess__Pages]
GO
ALTER TABLE [System].[PageAccess]  WITH CHECK ADD  CONSTRAINT [FK__PageAccess__Roles] FOREIGN KEY([RoleID])
REFERENCES [System].[Roles] ([ID])
GO
ALTER TABLE [System].[PageAccess] CHECK CONSTRAINT [FK__PageAccess__Roles]
GO
